body {
    background-color: #363636;
    color: #fff;
    font-family: Arial, sans-serif;
    min-width: 300px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: pink;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #666;
}
